div#container {
    display: flex;
    flex-wrap:wrap;
    width: 600px;
    height: 600px;
    margin: auto;
    
}

div.newDivs {
    width: 37.5px;
    height: 37.5px;
    border: solid 0.1px rgba(0, 0, 0, 0.368);
    box-sizing: border-box;
}

